/* Reseto valores  */
*{
    margin:0;
    padding:0;
  
}


body{
    background-color:#f2f2f2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Titulo */
.title{
    text-align:center;
    margin:20px 0;
}


main{
    display:flex;
    gap:20px;
    width:90%;
    margin:auto;
}

/* Menu (lado izquierdo) */
aside{
    width:280px;
    background:white;
    border:1px solid #ccc;
    border-radius:10px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h2{
    margin-top: 10px;
    color: darkorchid;
}

/* lista del menu (lado izquierdo) */
.menu ul{
    display:flex;
    flex-direction:column;
   
}


.menu li{
    list-style:none;
    border:1px solid #ccc;   
   
}

.menu-abajo{
    margin-top: 100px;
}
.menu a{
    display:flex;
    align-items:center;
    gap:10px;
    padding:15px;
    text-decoration:none;
    color:black;
}


/*  Bloque lado derecho */
.ladoderecho{
    width:70%;
    display:flex;
    flex-direction:column;
}

/* Barra que envuelve input */
.barraInput{
    display:flex;
    gap:10px;
    margin-bottom:20px;
    border: #ccc solid 2px ;
    padding: 10px;
    border-radius: 20px;
    background-color: white;

    
}


.barraInput input{
    width: 200px;
    padding:2px;
    border:1px solid black;
    
}


/* Boton crear tarea */
button{
    background:rgb(91, 29, 106);
    color:white;
    border:none;
    padding:10px 20px;
    border:1px solid black;
    margin-right: 100px;
    
}

/* Tarjetas: todas, completas, enproceso, ... */
.tarjetas{
    display:flex;
    gap:15px;
    margin-bottom:20px;
}


/* Colores de  numero de tarjetas*/
.numtodas{
    color: rgb(26, 88, 248);
}

.numcompletas{
    color: green;
}

.numproceso{
    color:orange;
}

.numpendientes{
    color:rgb(184, 18, 18);
}

.tarjetas > div{
    background:white;
    border:1px solid #ccc;
    border-radius:10px;
    padding:20px;
    flex:1;
}

/* Contenedor de todas las tareas */
.tareas{
    background:white;
    border:1px solid #ccc;
    border-radius:10px;
   
}


.tareas h3{
    margin:15px;
    padding: 15px;
}

/* Tareas*/
.tarea{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:1px solid #ccc;
    padding:15px;
  
   
}